<%- include('./partials/head.ejs') %>
<div class="w-screen h-screen flex flex-col gap-4 justify-center items-center">
  <p class="text-4xl font-bold">ERRO 404</p>
  <span class="text-base">Página não encontrada</span>
</div>
<%- include('./partials/footer.ejs') %>
