<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<div class="container">
    <div class="formulario__container">
        <h1 class="formulario__container-titulo">Login</h1>
        <form method="post" action="/login" class="formulario">
            <label class="formulario__input--wrapper">
                <input type="text" name="user" id="iuser" class="formulario__input" placeholder=" ">
                <span class="formulario__label" aria-label="Nome de Usuário">Nome de Usuário</span>
            </label>
            <label class="formulario__input--wrapper">
                <input type="password" name="password" id="ipassword" class="formulario__input" placeholder=" ">
                <span class="formulario__label" aria-label="Senha">Senha</span>
            </label>
            <button type="submit" class="botao formulario__botao">Fazer Login</button>
        </form>
    </div>
</div>
<%- include('./partials/footer.ejs') %>