<% if (login) { %>
    <header class="bg-slate-900 p-4 flex justify-between items-center">
        <a href="/" class="text-4xl font-logo font-bold">Apolo</a>
        <a href="/login/logout" class="text-2xl font-display">Sair</a>
    </header>
<% } else { %>
    <header class="bg-slate-900 p-4 flex justify-center items-center">
        <a href="/" class="text-4xl font-logo font-bold">Apolo</a>
    </header>
<% } %>    