<a
  class="rounded-md flex flex-col bg-slate-700 py-1 px-4 gap-3 text-sm font-medium text-slate-200 text-center outline-none hover:ring-2 hover:ring-slate-600"
  href="/produto/index"
>
  Adicionar Produto
</a>
